.postcontent address:first-child,
.postcontent article:first-child,
.postcontent aside:first-child,
.postcontent audio:first-child,
.postcontent blockquote:first-child,
.postcontent canvas:first-child,
.postcontent dd:first-child,
.postcontent div:first-child,
.postcontent dl:first-child,
.postcontent fieldset:first-child,
.postcontent figcaption:first-child,
.postcontent figure:first-child,
.postcontent footer:first-child,
.postcontent form:first-child,
.postcontent h1:first-child,
.postcontent h2:first-child,
.postcontent h3:first-child,
.postcontent h4:first-child,
.postcontent h5:first-child,
.postcontent h6:first-child,
.postcontent header:first-child,
.postcontent hgroup:first-child,
.postcontent hr:first-child,
.postcontent noscript:first-child,
.postcontent ol:first-child,
.postcontent output:first-child,
.postcontent p:first-child,
.postcontent pre:first-child,
.postcontent section:first-child, 
.postcontent table:first-child,
.postcontent tfoot:first-child,
.postcontent ul:first-child,
.postcontent video:first-child{
    margin-top:0;
    padding-top: 0;
}

.postcontent address:last-child,
.postcontent article:last-child,
.postcontent aside:last-child,
.postcontent audio:last-child,
.postcontent blockquote:last-child,
.postcontent canvas:last-child,
.postcontent dd:last-child,
.postcontent div:last-child,
.postcontent dl:last-child,
.postcontent fieldset:last-child,
.postcontent figcaption:last-child,
.postcontent figure:last-child,
.postcontent footer:last-child,
.postcontent form:last-child,
.postcontent h1:last-child,
.postcontent h2:last-child,
.postcontent h3:last-child,
.postcontent h4:last-child,
.postcontent h5:last-child,
.postcontent h6:last-child,
.postcontent header:last-child,
.postcontent hgroup:last-child,
.postcontent hr:last-child,
.postcontent noscript:last-child,
.postcontent ol:last-child,
.postcontent output:last-child,
.postcontent p:last-child,
.postcontent pre:last-child,
.postcontent section:last-child, 
.postcontent table:last-child,
.postcontent tfoot:last-child,
.postcontent ul:last-child,
.postcontent video:last-child{
    margin-bottom:0;
    padding-bottom: 0;
}

.postcontent address:only-child,
.postcontent article:only-child,
.postcontent aside:only-child,
.postcontent audio:only-child,
.postcontent blockquote:only-child,
.postcontent canvas:only-child,
.postcontent dd:only-child,
.postcontent div:only-child,
.postcontent dl:only-child,
.postcontent fieldset:only-child,
.postcontent figcaption:only-child,
.postcontent figure:only-child,
.postcontent footer:only-child,
.postcontent form:only-child,
.postcontent h1:only-child,
.postcontent h2:only-child,
.postcontent h3:only-child,
.postcontent h4:only-child,
.postcontent h5:only-child,
.postcontent h6:only-child,
.postcontent header:only-child,
.postcontent hgroup:only-child,
.postcontent hr:only-child,
.postcontent noscript:only-child,
.postcontent ol:only-child,
.postcontent output:only-child,
.postcontent p:only-child,
.postcontent pre:only-child,
.postcontent section:only-child, 
.postcontent table:only-child,
.postcontent tfoot:only-child,
.postcontent ul:only-child,
.postcontent video:only-child{
    margin-top:0;
    margin-bottom:0;
    padding-top: 0;
    padding-bottom: 0;
}